p {
	font-size: 20px;
}

.md{
	font-size: 50px;
}

@media only screen and (max-width: 600px) {
	p {
	font-size: 15px;
}

.fa{
	font-size: 20px;
}

.material-icons{
	font-size: 20px;
}
}